<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- favicon resources -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon-16.png') }}"
      type="image/png"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon-16.png') }}"
      type="image/png"
    />

    {% block styles %}
    <!-- bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='custom.css') }}"
    />
    {% endblock %}

    <title>issues.app</title>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-white">
      <!-- app brand -->
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img
          class="d-inline-block align-top"
          src="{{ url_for('static', filename='favicon-32.png') }}"
        />
        issues.app
      </a>

      <!-- hamburger menu -->
      {% if current_user.is_authenticated %}
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- items below collapse into the menu above -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- logged-in user dropdown -->
        <ul class="navbar-nav ml-auto order-1">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarUserDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              &nbsp;{{ user.username }}&nbsp;<span
                class="badge badge-secondary"
                >{{ user.role }}</span
              ><span class="caret"></span>
            </a>

            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarUserDropdown"
            >
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}"
                >Sign out</a
              >
            </div>
          </li>
        </ul>

        <!-- major app sections -->
        <ul class="navbar-nav mr-auto order-0">
          <li class="nav-item {{ 'active' if navdata['active_page'] =='projects' }}">
            <a
              class="nav-link d-flex align-items-center"
              href="{{ url_for('main.projects') }}"
            >
              &nbsp;Projects&nbsp;
            </a>
          </li>
          <li class="nav-item {{ 'active' if navdata['active_page'] == 'issues' }}">
            <a
              class="nav-link d-flex align-items-center"
              href="{{ url_for('main.issues') }}"
            >
              &nbsp;Issues&nbsp;{% if navdata['num_issues'] %}<span
                class="badge badge-pill badge-{{ 'primary' if navdata['num_issues'] else 'secondary' }}"
                >{{ navdata['num_issues'] }}</span
              >{% endif %}
            </a>
          </li>
          <li class="nav-item {{ 'active' if navdata['active_page'] == 'messages' }}">
            <a
              class="nav-link d-flex align-items-center"
              href="{{ url_for('main.messages') }}"
            >
              &nbsp;Messages&nbsp;{% if navdata['num_messages'] %}<span
                class="badge badge-pill badge-primary"
                >{{ navdata['num_messages'] }}</span
              >{% endif %}
            </a>
          </li>
        </ul>
      </div>
      {% else %}
      <ul class="navbar-nav ml-auto order-1">
        <li class="nav-item active">
          <a
            class="nav-link d-flex align-items-center"
            href="{{ url_for('auth.login') }}"
          >
            &nbsp;Sign in&nbsp;
          </a>
        </li>
      </ul>
      {% endif %}
    </div>
    {% endblock %}

    <!-- page content -->
    {% block content %} {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %} {% block page_content %}{% endblock %} {% endblock %} {% block
    scripts %}
    <!-- optional JavaScript -->
    {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
