{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="row pt-2">
        <div class="col">
            <h2>Issues</h2>

            {% if issues | length > 0 %}
            <div class="card-deck px-0 pb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">By status</h5>
                        <canvas id="issueStatusChart" width="100%" height="30%"></canvas>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">By priority</h5>
                        <canvas id="issuePriorityChart" width="100%" height="30%"></canvas>
                    </div>
                </div>
            </div>
            {% block javascript %}
            <script src="{{ url_for('static', filename='charts.js') }}"></script>
            <script>
                plotDoughnutChart(
                    'issueStatusChart',
                    {{ status_counts | tojson }},
                    {{ status_labels | tojson }},
                    {{ status_colors | tojson }})
                plotDoughnutChart(
                    'issuePriorityChart',
                    {{ priority_counts | tojson }},
                    {{ priority_labels | tojson }},
                    {{ priority_colors | tojson }})
            </script>
            {% endblock %}
            {% endif %}

            <div class="container px-0">
                {% include "issue_list.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}