{% extends "base.html" %} {% block page_content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Issues</h1>
      <p>This test content comes from the issues template.</p>

      {#
      <div class="table-responsive">
        #}
        <table class="table table-sm">
          <thead>
            <tr class="d-flex row-sm">
              <th class="col-2">
                <input type="checkbox" aria-label="Checkbox" />

                &nbsp;ID
              </th>
              <th class="col-4">Summary</th>
              <th class="col-2">Assignee</th>
              <th class="col-2">Status</th>
              <th class="col-1">Created</th>
              <th class="col-1">Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr class="d-flex row-sm">
              <td class="col-2">
                <input
                  type="checkbox"
                  aria-label="Checkbox for following text input"
                />

                &nbsp;AAP-5
              </td>
              <td class="col-4">Window flickers on scroll</td>
              <td class="col-2">@grover</td>
              <td class="col-2">active</td>
              <td class="col-1">21/3/5</td>
              <td class="col-1">21/3/7</td>
            </tr>
          </tbody>
        </table>
        {#
      </div>
      #}
    </div>
  </div>
</div>
{% endblock %}
